body, html {
    margin: 0;
    height: 100%;
    background-color: grey;
    
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);

    scroll-behavior: smooth;
}

/*--------------------Hero Image--------------------*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('bg/chill.gif');
    background-position: center;
    background-repeat: none;
    background-size: cover;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 40px;

    margin: auto;
}

.hero-text {
    padding: 15px 25px 15px 25px;

    background-color: rgba(90, 90, 90, 0.4);

    border: 0px solid rgb(255, 255, 255);
    border-radius: 4%;

    transition-duration: 0.5s;

    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoom;
}

.hero-text:hover, .hero-text:focus {
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}
.hero-text p {
    margin: 5px;
}
.hero-text input {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color: rgb(0, 0, 0);

    padding: 5px 10px;
    margin: 10px 0 0 0;

    border: none;
    outline: none;
    border-radius: 10px;
}

#unit-cb {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.hero-text input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

/*---------------------Animations---------------------*/
.hero-text i {
    font-size: 70px;
    animation-duration: 1s;
    transition-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: zoom;
}  

.hero-text h1 {
    font-size: 30px; 
    margin-top: 0; 
    margin-bottom: 0;
    transition-duration: 0.5s;
}

.hero-text p {
    font-size: 15px;
    transition-duration: 0.5s;
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 100%;
    }
}

/*--------------------Info Display--------------------*/
.location .city {
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: white;
    font-size: 16px;
}

.current .temp {
    color: rgba(255, 255, 255, 0.9);
    font-size: 102px;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.5);
}

.degree {
    font-weight: 300;
    font-size: 55px;
}

.current .weather {
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3)
}

.current .hi-low {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3)
}

.temp {
    animation: flash;
    animation-duration: 2s;
    animation-delay: 3s;
}

/*---------------------Responsive---------------------*/
@media screen and (max-width: 450px) {
    .hero-text {
        margin: 10px;
    }
}